span{
    color:rgb(39, 44, 41);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    border: 6px dashed rgb(205, 122, 50);
    padding: 5px;
    font-size: xx-large;
    display: table;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 2%;
    background: linear-gradient(pink,rgb(160, 160, 177));
}

#button{
    margin: 8px;
    font-size: large;
    background-color: rgb(111, 216, 242);
    border-radius: 5px;
    display: table;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 2%;
    
}

body{
    background:radial-gradient(rgb(85, 105, 204),rgb(250, 251, 251))
}

#table-data{
    color: rgb(52, 27, 4);
    text-align: center;
}